

:global .ms-Dialog-main {
  width: 90% !important;
  height: 90% !important;
}

:global .ms-Dialog-content{
  // width: 70% !important;
  // height: 48rem !important;
    height: 80vh !important;
}


